* {
	margin: 0;
	padding: 0;
}

body, html {
	background-color: #444;
	color: #ddd;
	height: 100%;
	font-family: sans-serif;
}

#main {
	margin: 0 auto;
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

#menu {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#menu ul {
	padding: 0px 0px 0px 1.5em;
}

#menu li {
	list-style: none;
	padding: 6px;
}

#menu a {
	color: #ddd;
	padding: 4px;
	text-decoration: none;
}

#menu a:hover {
	background-color: #555;
	padding: 4px;
	text-decoration: none;
}

#menu a.current {
	color: #fff;
	padding: 4px;
	text-decoration: none;
}

#body {
	padding-bottom: 60px;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1px;
	margin-left: 15em;
	background-color: #333;

	min-height: 20em;
}

#content {
	max-width: 100em;
}

#head {
	padding-left: 10px;
	padding-right: 10px;
}

#head, #foot {
	background-color: #222;
	font-size: smaller;
	height: 25px;
	padding-top: 5px;
}

#head a {
	color: #ddd;
	text-decoration: none;
}

#foot {
	width: 100%;
	clear: both;
	position: relative;
	margin-top: -25px;
}

/* Utils */
.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.inner {
	padding-left: 10px;
	padding-right: 10px;
}

/* Tags */
a {
	color: #86b886
}

h1 {
	margin: .67em 0;
}

h2 {
	margin: .83em 0;
}

h3 {
	margin: 1em 0;
}

h4 {
	margin: 1.33em 0;
}

h5 {
	margin: 1.67em 0;
}

h6 {
	margin: 2.33em 0;
}

hr {
	margin: 0.5em auto 0.5em auto;
}

pre {
	background: #444;
	border: 1px solid black;
	margin: 0.5em;
	padding: 1em;
	font-family: monospace;
	overflow: auto;
	overflow-y: hidden;
}
